/*===========GERAL===========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(193, 49%, 32%);
  --secundary-color: hsl(193, 23%, 54%);
  --ligth-color: hsl(166, 35%, 93%);

  font-size: 62.5%;

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #8cedc1;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;

  color: var(--primary-color);
}

h3 {
  font-size: 2rem;
  font-weight: 400;

  color: var(--secundary-color);
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* ============NAVBAR============ */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 3rem;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;

  margin: 0 1rem 0 1rem;
}

nav .menu {
  display: none;
}

nav .wrapper .logo {
  flex-grow: 1;
}

nav .dark-theme {
  display: none;
  visibility: hidden;
}

nav img {
  width: 4rem;
  height: 4rem;
}

nav svg {
  color: var(--primary-color);
}

/* ============THEME============ */

.theme-change {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 1rem;
}

body.dark {
  background-color: var(--primary-color);
}

body.dark header {
  background-color: var(--secundary-color);
}

body.dark .dark-theme {
  display: flex;
  opacity: 1;
  visibility: visible;
}

body.dark .ligth-theme {
  opacity: 0;
  visibility: hidden;
}

body.dark h1,
body.dark h3,
body.dark p {
  color: var(--ligth-color);
}

body.dark svg {
  color: var(--ligth-color);
}

/* ============HEADER============ */

@keyframes margin {
  from {
    margin: 0;
    border-radius: 0;
  }
  to {
    margin: 2rem;
    border-radius: 2rem;
  }
}

@keyframes height {
  from {
    height: 100vh;
  }
  to {
    height: calc(100vh - 4rem);
  }
}

header {
  background-color: var(--ligth-color);
  animation: margin 1s;
  animation-fill-mode: forwards;

  transition: var(--transition);
}

header .wrapper {
  animation: height 1s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img img {
  width: 25rem;
  border-radius: 5%;

  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
}

header p {
  font-size: 1.6rem;
  font-weight: 400;

  color: var(--secundary-color);
}

#social-media {
  display: flex;
  justify-content: center;

  margin-top: 3rem;
}

#social-media ul {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

#social-media a svg {
  color: var(--secundary-color);
  transition: var(--transition);
}

#social-media a svg:hover {
  color: var(--primary-color);
  transform: translateY(-3px);
}
